<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apperall.gabe.tvguide" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".TVGuideApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.Activities.ProgrammeScheduleListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.ProgrammeScheduleDetailActivity"
            android:label="@string/title_programmeschedule_detail"
            android:parentActivityName=".UI.Activities.ProgrammeScheduleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgrammeScheduleListActivity" />
        </activity>

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <provider
            android:name=".Contentproviders.TVGuideProvider"
            android:authorities="com.apperall.gabe.tvguide.tvguideprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <receiver
            android:name=".Broadcastreceivers.WakefulUpdateReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
